<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="banner">
    <div class="banner-rel">
        <img src="/images/vehicles/delorean.jpg" alt="Banner vehicle">
        <div class="banner-details">
            <h2>MDC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="#">Own Today</a>
        </div>
    </div>
</div>
<div class="vehicle-info">
    <div>
        <h3>DMC Delorean Upgrades</h3>
        <div class="upgrades">
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="capacitor">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="decals">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="stickers">
                </div>
                <a href="#">Bumper Sticker</a>
            </div>
            <div class="upgrade">
                <div>
                    <img src="/images/upgrades/hub-cap.jpg" alt="caps">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>