/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* #region Fonts */
:root {
    --heading-font: "Merriweather", serif;
    --body-font: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
p, a, span {
  font-family: var(--body-font);
}
/* #endregion */

/* #region Body*/

body>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: white;
  padding: 1rem;
}
main {
  width: 100%;
  padding: 0 1rem;
}
/* #endregion*/

/* #region Header */ 
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 1.5rem;
}
/* #endregion*/

/* #region Navigation*/
nav {
width: 95%;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  list-style-type: none;
  background-color: #22242e;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}
nav ul a {
  text-decoration: none;
  color: white; 
}
/* #endregion*/

/* #region Banner*/
.banner {
  text-align: center;
  width: 100%;
  min-height: 200px;
}
.banner img {
  width: 100%;
  max-width: 700px;
  height: auto;
}
.banner-details {
  position: absolute;
  padding: 1rem;
  top: 220px;

  background-color: rgba(255,255,255,0.75);
  color: #097795;
}
.banner-details>* {
  margin: 0;
}
.banner-details p {
  font-weight: bold;
  font-size: 1.3rem;
}
.banner-details a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.6);
  background-color: #0cb8e8;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.banner-details a:hover {
  color: white;
}
/* #endregion*/

/* #region Vehicle Info*/
.vehicle-info {
  display: flex;
  flex-direction: column;
}
/* #endregion*/

/* #region Upgrades*/
.upgrades {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.upgrade {
    text-align: center;
}
.upgrade div {
  border: 1.5px black solid;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0cb8e8;
  height: 100px;
}
/* #endregion*/

/* #region Reviews*/
.reviews {
  background-color: white;
}
.reviews ul li {
  padding: 10px 0;
}
/* #endregion*/

/* #region Vehicles by classification */ 
#inv-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  
  list-style-type: none;
  font-weight: bold;
  padding: 0.5rem;
}
#inv-display li a {
  text-decoration: none;
  color: #097795;
}
#inv-display li > a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;
  margin: auto 0;
}
#inv-display li {
  width: 300px;
  padding: 10px;
}
#inv-display li:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}
#inv-display li h2 {
  margin: 10px 0;
}
/* #endregion*/

/* #region Vehicle Details */

#inv-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem 0;
}
#details-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
#details-picture img {
  width: 100%;
  border-radius: 5px;
}
#details-info {
  background-color: rgb(185, 217, 228);
  border-radius: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  padding: 0 2rem;
  height: 100%;
}
#details-info-labels {
  text-align: right;
}
#details-info-labels p{
  font-weight: bold;
}

/* #endregion */


/* MEDIUM VIEW */
@media (min-width: 500px) {
  /* #region Body*/
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size:30rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;    
  }
  body>div {
    border: 5px solid #0cb8e8;
    border-radius: 15px;

  }
  /* #endregion*/

}

/* LARGER VIEW */
@media (min-width: 800px) {
  /* #region Body*/
  body>div {
    width: 1200px;
  }
  .vehicle-info {
    flex-direction: row;
  }
  .vehicle-info>div {
    flex: 1;
    padding: 1rem;
  }
  /* #endregion*/

  /* #region Vehicle Details */
  #inv-details {
    flex-direction: row;
  }
  #details-picture {
    width: 50%;
  }
  /* #endregion */
}