/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* #region Body*/

body>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: white;
  padding: 1rem;
}
main {
  width: 100%;
  padding: 0 1rem;
}
/* #endregion*/

/* #region Header */ 
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: black;
}
.siteName {
  font-size: 1.5rem;
}
/* #endregion*/

/* #region Navigation*/
nav {
width: 95%;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  list-style-type: none;
  background-color: #22242e;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}
/* #endregion*/

/* #region Banner*/
.banner {
  text-align: center;
  width: 100%;
  min-height: 200px;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner-details {
  position: absolute;
  padding: 1rem;
  top: 220px;

  background-color: rgba(255,255,255,0.75);
  color: #097795;
}
.banner-details>* {
  margin: 0;
}
.banner-details p {
  font-weight: bold;
  font-size: 1.3rem;
}
.banner-details a {
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.6);
  background-color: #0cb8e8;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.banner-details a:hover {
  color: white;
}
/* #endregion*/

/* #region Vehicle Info*/
.vehicle-info {
  display: flex;
  flex-direction: column;
}
/* #endregion*/

/* #region Upgrades*/
.upgrades {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.upgrade {
    text-align: center;
}
.upgrade div {
  border: 1.5px black solid;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0cb8e8;
  height: 100px;
}
/* #endregion*/

/* #region Reviews*/
.reviews {
  background-color: white;
}
/* #endregion*/

/* MEDIUM VIEW */
@media (min-width: 500px) {
  /* #region Body*/
  body {
    background-image: url("../images/site/checkerboard.jpg");
    background-size:30rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;    
  }
  body>div {
    border: 5px solid #0cb8e8;
    border-radius: 15px;

  }
  /* #endregion*/
}

/* LARGER VIEW */
@media (min-width: 800px) {
  body>div {
    width: 800px;
  }
  .vehicle-info {
    flex-direction: row;
  }
  .vehicle-info>div {
    flex: 1;
    padding: 1rem;
  }
}